<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
        <a href="#" class="navbar-brand">
            <img src="~/Content/Images/SouqTech logo.png" height="40"/>
            SouqTech
        </a>
        <div class=" collapse navbar-collapse">
            <ul class=" navbar-nav">
                <li class=" nav-item">
                    <a href="#" class=" nav-link">Home</a>
                </li>
                <li class=" nav-item">
                    <a href="#" class=" nav-link">Products</a>
                </li>
                <li class=" nav-item">
                    <a href="#" class=" nav-link">Contact Us</a>
                </li>
                <li class=" nav-item">
                    <a href="#" class=" nav-link">About Us</a>
                </li>
                <li class=" nav-item">
                    @Html.ActionLink("Management","Index","Managements",null,new {@class="nav-link" })
                </li>
            </ul>
        </div>
        <a href="#">
            <input type="button" class="btn btn-outline-success my-2 my-sm-0" value="Register">
        </a>
        <div style="margin-right: 25px;"></div>
        <a href="#">
            <input type="button" class="btn btn-outline-primary my-2 my-sm-0" value="Sign In">
        </a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container"><span class="text-muted"></span></div>
    </footer>
</body>
</html>
