@model SouqDotNet.Models.Entities.User
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <!-- Default form register -->
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "text-center border border-light p-5" }))
    {
        <p class="display-4 mb-4">Sign up</p>
        <!-- First name -->
        @Html.TextBoxFor(q=>q.Username,new {@class= "form-control mb-4", @placeholder= "Username" })
        <!-- E-mail -->
        @Html.TextBoxFor(q=>q.Email, new { @class = "form-control mb-4", @placeholder = "Email" })
        <!-- Password -->
        @Html.PasswordFor(q => q.Password, new { @class = "form-control mb-4", @placeholder = "Password" })     
        <input type="password" class="form-control mb-4" placeholder="Confirm Password">
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>
    }
</div>
<!-- Default form register -->